h1 {
	 text-align:center;
	 color: orange;
}

body {
	 background-color: grey;
}

h2 {
	 text-align: right;
	 color: orange;
	 margin-right: 260px;
}
img {margin-left: 150px;
}

p {
    text-align: right;
    color: orange;
    margin-right: 180px;
    margin-bottom: 150px;
    float:right;
}
.triangle1 {
  width: 0;
  height: 0;
  border-left-width: 100px;
  border-left-style: solid;
  border-left-color: transparent;
  border-right-width: 100px;
  border-right-style: solid;
  border-right-color: transparent;
  border-bottom-width: 125px;
  border-bottom-style: solid;
  border-bottom-color: blue;
  margin-left: 280px;
  float:left;
}
.triangle2 {
  width: 0;
  height: 0;
  border-left-width: 100px;
  border-left-style: solid;
  border-left-color: transparent;
  border-right-width: 100px;
  border-right-style: solid;
  border-right-color: transparent;
  border-bottom-width: 125px;
  border-bottom-style: solid;
  border-bottom-color: blue;
  margin-right: 30%;
  float:right;
  font-size: 20px;
}
.triangle3 {
  width: 0;
  height: 0;
  border-left-width: 100px;
  border-left-style: solid;
  border-left-color: transparent;
  border-right-width: 100px;
  border-right-style: solid;
  border-right-color: transparent;
  border-bottom-width: 125px;
  border-bottom-style: solid;
  border-bottom-color: blue;
  margin-left: 75%;
  float: center;
}

  
